* text=auto eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.iss text eol=crlf
*.ico binary
*.png binary
*.tdms binary
